body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        vertical-align: baseline;
        background: transparent;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

p{
  margin-left: 25px;
  font-family: Roboto, sans-serif;
}

button {
  width: 200px;
    height: 50px;
    font-size: 80%;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    transition: background-color 30ms ease-out 100ms;

    /*The resulting background color will be based on the bg props.*/
    background-color: black;

    /*The resulting text-color will be based on the color props.*/
    color: white;
    margin: 5px;
}

button:hover {
    background-color: #17C420;
    color: white;
    transition: all .3s;
    animation: shake 0.82s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    transform: translate3d(0,0,0);
    perspective: 1000px;
    }

    @keyframes shake {
        10%, 90% {
        transform: translate3d(-1px, 0, 0);
        }
        20%, 80% {
        transform: translate3d(2px, 0, 0);
        }
  
        30%, 50%, 70% {
        transform: translate3d(-2px, 0, 0);
        }
        40%, 60% {
        transform: translate3d(2px, 0, 0);
        }
}
